<div class="container mt-24 mb-16 px-4 lg:px-0">
  <div class="flex flex-col lg:flex-row">
    <div class="lg:flex-0 lg:w-8/12 mr-12 mb-8 lg:mb-0">
      <h2 class="text-3xl uppercase">
        CONTACT SODA VISUAL
      </h2>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum.</p>
    </div>
    <div class="lg:flex-1 lg:w4/12">
      <form>
        <input class="w-full h-16 bg-gray-300 focus:outline-0 focus:shadow-outline border border-gray-300 uppercase py-2 px-4 block w-full appearance-none leading-normal mb-8" type="email" placeholder="Email Address">
        <input class="w-full h-16 bg-gray-300 focus:outline-0 focus:shadow-outline border border-gray-300 uppercase py-2 px-4 block w-full appearance-none leading-normal mb-8" type="text" placeholder="Name">
        <input class="w-full h-32 bg-gray-300 focus:outline-0 focus:shadow-outline border border-gray-300 uppercase py-2 px-4 block w-full appearance-none leading-normal mb-8" type="textarea" placeholder="Message" />
        <button class="w-full bg-soda-light hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
          Sumbit
        </button>
      </form>
    </div>
  </div>
</div>