<footer class="bg-black h-24">
  <div class="flex flex-col xs:flex-row h-full container justify-center xs:justify-between items-center px-4">
    <p class="text-white text-xs mb-6 xs:mb-0">Copyright Soda Visual &copy; 2015</p>
    <p class="text-white text-xs">Terms & Condtions</p>
  </div>
</footer>