<header class="flex absolute">
  <a
    href="www.facebook.com/soda"
    class="flex rounded-full h-10 w-10 items-center justify-center mr-1"
  >
    <i class="icon-logo-facebook something"></i>
  </a>
  <a
    href="www.twitter.com/soda"
    class="flex rounded-full h-10 w-10 items-center justify-center mr-1"
  >
    <i class="icon-logo-twitter"></i>
  </a>
  <a
    href="www.instagram.com/soda"
    class="flex rounded-full h-10 w-10 items-center justify-center mr-1"
  >
    <i class="icon-logo-insta"></i>
  </a>
</header>