<header>
  <a href="facebook.com/soda" class="uk-icon-button uk-box-shadow-hover-small" uk-icon="facebook"></a>
  <a href="twitter.com/soda" class="uk-icon-button uk-box-shadow-hover-small" uk-icon="twitter"></a>
  <a href="instagram.com/soda" class="uk-icon-button uk-box-shadow-hover-small" uk-icon="instagram"></a>
</header>