<header class="flex">
  <a
    href="www.facebook.com/soda"
    class="rounded-full h-16 w-16 bg-gray-400 flex items-center justify-center"
  >
  </a>
  <a
    href="www.twitter.com/soda"
    class="rounded-full h-16 w-16 bg-gray-400 flex items-center justify-center"
  ></a>
  <a
    href="www.instagram.com/soda"
    class="rounded-full h-16 w-16 bg-gray-400 flex items-center justify-center"
  ></a>
</header>