<div
  class="uk-height-large uk-flex uk-flex-center uk-flex-middle uk-flex-column uk-background-cover"
  data-src="images/header_bg.jpg"
  uk-img
>
  <img class="uk-align-center uk-width-small uk-width-auto@l" data-src="images/logos/logo_soda.png" width="196" height="118" alt="Soda Brand Logo" uk-img>

  <h1 class="uk-heading-medium uk-heading-divider uk-text-uppercase uk-width-1-2 uk-width-xlarge@l uk-text-center uk-light">
    Pushing boundaries, realising ideas.
  </h1>
</div>