<div class="h-hero bg-cover bg-center" style="background-image: url('./images/header_bg.jpg')">
  <div class="h-full flex flex-col items-center justify-center">
    <img class="logo h-16 w-24 md:h-32 md:w-48 mb-10" src="./images/logos/logo_soda.png" />
    <h1 class="text-4xl lg:text-4xl w-auto sm:w-1/2 max-w-lg text-center text-white uppercase p-4 mx-8 mb-8 border-bottom-white">
      Pushing boundaries, realising ideas.
    </h1>
  </div>
</div>