<div class="height-hero bg-cover bg-center" style="background-image: url('./images/header_bg.jpg')">
  <div class="h-full flex flex-col items-center justify-center">
    <img class="logo" src="./images/logos/logo_soda.png" />
    <h1 class="text-4xl lg:text-5xl mb-8">Pushing boundaries, realising ideas.</h1>
  </div>
</div>