<div class="uk-section">
  <div class="uk-container">
    <div class="uk-child-width-expand@s" uk-grid>
      <h2 class="uk-heading-small uk-width-1-1 uk-width-1-4@m uk-text-uppercase uk-text-letter-spaced-small uk-text-bold">A little bit about our company</h2>
      <p class="uk-width-expand">
        SODA Visual is an agency with years of experience in Creative Commercial Photography. Whether you're creating a campaign from scratch or want to give your existing campaign an extra creative touch, we have the tools and the skills to make things happen.
        Paul & Romain are 2 professional photographers who work alongside you and your team to help you create and launch new products and strengthen your brand.
        We help clients bring concept and ideas to life with stills and video work and lots of other cool stuff ' We try and bring a little bit of our personalities into every job we do, and we think that's what makes us a little different.
        We try not to bark orders, but know when to step in, and the open collaborative approach we bring to each job ensures we meet the clients needs.
      </p>
  </div>
</div>