@mixin hook-divider-misc {
  .uk-divider-dense-blue::after {
    content: "";
    display: inline-block;
    width: 278px;
    border-top: 1px solid #000;
    vertical-align: top;
    border-top: 8px solid #286191;
  }
}