@mixin hook-icon-misc {
  .uk-icon-button-facebook {
    background-color: #256299;
    color: #FFF;
  }
  .uk-icon-button-twitter {
    background-color: #378BB7;
    color: #FFF;
  }
  .uk-icon-button-insta {
    background-color: #246485;
    color: #FFF;
  }
}